*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.navigation/
captures/
*.hprof
.cxx/
*.keystore
!debug.keystore
app/release/
app/build/
**/build/
.kotlin/